<footer class="site-footer">
	<nav class="footer-links">
		<a href="https://github.com/mruedinger/game-club" target="_blank" rel="noreferrer">
			Repository
		</a>
		<a
			href="https://github.com/mruedinger/game-club/issues/new?labels=bug"
			target="_blank"
			rel="noreferrer"
		>
			Report a bug
		</a>
		<a
			href="https://github.com/mruedinger/game-club/issues/new?labels=enhancement"
			target="_blank"
			rel="noreferrer"
		>
			Request a feature
		</a>
		<a href="https://github.com/mruedinger/game-club/issues" target="_blank" rel="noreferrer">
			View all issues
		</a>
	</nav>
</footer>
